# Entornos virtuales (Lo más importante)
venv/
env/
.env

# Archivos de Python compilados
__pycache__/
*.py[cod]

# Checkpoints de Jupyter Notebooks (archivos basura)
.ipynb_checkpoints/

# Archivos de Office temporales (veo que tienes docs y ppts)
~$*.docx
~$*.pptx

# Opcional: Si no quieres subir todas las imágenes generadas
# *.png
# *.csv

.DS_Store